<a href="https://colab.research.google.com/github/JAGu245/BIG-DATA/blob/main/02_Eksplorasi_Dataset_Adidas_Sales_Menggunakan_Shell.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! whoami

root

In [ ]:
! hostname

1aff8785b0e9

In [ ]:
! pwd

/content

In [ ]:
! date

Wed Mar 13 11:03:33 AM UTC 2024

# Tugas : Eksplorasi Dataset Adidas Sales

### 0. Persiapan Dataset

Download dataset Adidas Sales

Link: https://www.dropbox.com/scl/fi/pgori5hr9tfaxv3ieg2sd/adidas-sales-dataset.zip?rlkey=imvwvunldzibn1wpwsabw23wc&dl=0


***Hints:***
1. Gunakan wget

In [ ]:
# type and run your answer here
!wget https://www.dropbox.com/scl/fi/pgori5hr9tfaxv3ieg2sd/adidas-sales-dataset.zip

--2024-03-13 11:03:34--  https://www.dropbox.com/scl/fi/pgori5hr9tfaxv3ieg2sd/adidas-sales-dataset.zip
Resolving www.dropbox.com (www.dropbox.com)... 162.125.66.18, 2620:100:6057:18::a27d:d12
Connecting to www.dropbox.com (www.dropbox.com)|162.125.66.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /register?cont=%2Fscl%2Ffi%2Fpgori5hr9tfaxv3ieg2sd%2Fadidas-sales-dataset.zip&ib_redir=1&register_cont=%2Fscl%2Ffi%2Fpgori5hr9tfaxv3ieg2sd%2Fadidas-sales-dataset.zip%3Fnew_user%3D1 [following]
--2024-03-13 11:03:35--  https://www.dropbox.com/register?cont=%2Fscl%2Ffi%2Fpgori5hr9tfaxv3ieg2sd%2Fadidas-sales-dataset.zip&ib_redir=1&register_cont=%2Fscl%2Ffi%2Fpgori5hr9tfaxv3ieg2sd%2Fadidas-sales-dataset.zip%3Fnew_user%3D1
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘adidas-sales-dataset.zip’

adidas-sales-datase     [  <=>               ]  68.35K   288KB/s    in 0.2s

2024-03-13 11:03:35 (288 KB/s) - ‘adidas-sales-dataset.zip’ saved [69988]

Ubah nama file hasil download menjadi **adidas-sales-dataset.zip**

In [ ]:
# type and run your answer here
!ls
!mv adidas-sales-dataset.zip adidas-sales-dataset.zip

adidas-sales-dataset.tsv  adidas-sales-dataset.zip  sample_data
mv: 'adidas-sales-dataset.zip' and 'adidas-sales-dataset.zip' are the same file

Extract file adidas-sales-dataset.zip

In [ ]:
# type and run your answer here
!ls
!unzip adidas-sales-dataset.zip

adidas-sales-dataset.tsv  adidas-sales-dataset.zip  sample_data
Archive:  adidas-sales-dataset.zip
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of adidas-sales-dataset.zip or
        adidas-sales-dataset.zip.zip, and cannot find adidas-sales-dataset.zip.ZIP, period.

Tampilkan semua file dan direktori beserta seluruh atributnya

In [ ]:
# type and run your answer here
!ls -la

total 168
drwxr-xr-x 1 root root  4096 Mar 13 11:03 .
drwxr-xr-x 1 root root  4096 Mar 13 10:54 ..
-rw-r--r-- 1 root root 74126 Mar 13 11:02 adidas-sales-dataset.tsv
-rw-r--r-- 1 root root 69988 Mar 13 11:03 adidas-sales-dataset.zip
drwxr-xr-x 4 root root  4096 Mar 11 13:24 .config
drwxr-xr-x 2 root root  4096 Mar 13 11:03 .ipynb_checkpoints
drwxr-xr-x 1 root root  4096 Mar 11 13:25 sample_data

Buat direktori **data**

In [ ]:
# type and run your answer here
!mkdir data

Pindahkan file **adidas-sales-dataset.tsv** ke direktori **data**

In [ ]:
# type and run your answer here
!mv adidas-sales-dataset.tsv data/

Hapus file adidas-sales-dataset.zip

In [ ]:
# type and run your answer here
!rm adidas-sales-dataset.zip

### 1. Tampilkan 10 record pertama

In [ ]:
# type and run your answer here
!head data/adidas-sales-dataset.tsv

Retailer	Retailer ID	Invoice Date	Region	State	City	Product	Price per Unit	Units Sold	Total Sales	Operating Profit	Operating Margin	Sales Method
Foot Locker	1185732	1/1/2020	Northeast	New York	New York	Men's Street Footwear	50	1200	600000	300000	0.50	In-store
Foot Locker	1185732	1/2/2020	Northeast	New York	New York	Men's Athletic Footwear	50	1000	500000	150000	0.30	In-store
Foot Locker	1185732	1/6/2020	Northeast	New York	New York	Women's Apparel	50	1000	500000	125000	0.25	In-store
Foot Locker	1185732	1/7/2020	Northeast	New York	New York	Men's Street Footwear	50	1250	625000	312500	0.50	In-store
Foot Locker	1185732	1/8/2020	Northeast	New York	New York	Men's Athletic Footwear	50	900	450000	135000	0.30	Outlet
Foot Locker	1185732	1/24/2020	Northeast	New York	New York	Women's Apparel	50	1000	500000	125000	0.25	Outlet
Foot Locker	1185732	1/25/2020	Northeast	New York	New York	Men's Street Footwear	50	1220	610000	305000	0.50	Outlet
Foot Locker	1185732	1/26/2020	Northeast	New York	New York	Men's Athletic Footwear	50	925	462500	138750	0.30	Outlet
Foot Locker	1185732	1/30/2020	Northeast	New York	New York	Women's Apparel	50	950	475000	118750	0.25	Outlet

### 2. Tampilkan 10 record terakhir

In [ ]:
# type and run your answer here
!tail data/adidas-sales-dataset.tsv

Sports Direct	1128299	8/13/2021	Southeast	Georgia	Atlanta	Women's Apparel	50	128	6400	1856	0.29	Outlet
Walmart	1197831	7/19/2021	South	Arkansas	Little Rock	Women's Apparel	50	198	9900	4554	0.46	Outlet
West Gear	1197831	12/19/2021	South	Arkansas	Little Rock	Men's Apparel	50	132	6600	2640	0.40	Outlet
Sports Direct	1185732	10/5/2021	Northeast	Connecticut	Hartford	Men's Apparel	50	45	2250	743	0.33	Outlet
Amazon	1185732	11/14/2021	Northeast	Massachusetts	Boston	Men's Apparel	50	78	3900	1248	0.32	Outlet
Amazon	1185732	11/11/2021	Northeast	Vermont	Burlington	Men's Apparel	50	91	4550	1775	0.39	Outlet
Amazon	1185732	6/19/2021	Northeast	New Hampshire	Manchester	Women's Apparel	50	162	8100	3402	0.42	Outlet
Foot Locker	1185732	10/19/2021	Northeast	New Hampshire	Manchester	Men's Apparel	50	58	2900	928	0.32	Outlet
Foot Locker	1185732	12/17/2021	Northeast	New Hampshire	Manchester	Men's Apparel	50	123	6150	2276	0.37	Outlet
Foot Locker	1185732	1/24/2021	Northeast	New Hampshire	Manchester	Men's Apparel	50	64	3200	896	0.28	Outlet

### 3. Berapa jumlah record dataset Adidas Sales

In [ ]:
# type and run your answer here
!wc -l data/adidas-sales-dataset.tsv

675 data/adidas-sales-dataset.tsv

### 4. Tampilkan 20 record pertama

In [ ]:
# type and run your answer here
!head -n 20 data/adidas-sales-dataset.tsv

Retailer	Retailer ID	Invoice Date	Region	State	City	Product	Price per Unit	Units Sold	Total Sales	Operating Profit	Operating Margin	Sales Method
Foot Locker	1185732	1/1/2020	Northeast	New York	New York	Men's Street Footwear	50	1200	600000	300000	0.50	In-store
Foot Locker	1185732	1/2/2020	Northeast	New York	New York	Men's Athletic Footwear	50	1000	500000	150000	0.30	In-store
Foot Locker	1185732	1/6/2020	Northeast	New York	New York	Women's Apparel	50	1000	500000	125000	0.25	In-store
Foot Locker	1185732	1/7/2020	Northeast	New York	New York	Men's Street Footwear	50	1250	625000	312500	0.50	In-store
Foot Locker	1185732	1/8/2020	Northeast	New York	New York	Men's Athletic Footwear	50	900	450000	135000	0.30	Outlet
Foot Locker	1185732	1/24/2020	Northeast	New York	New York	Women's Apparel	50	1000	500000	125000	0.25	Outlet
Foot Locker	1185732	1/25/2020	Northeast	New York	New York	Men's Street Footwear	50	1220	610000	305000	0.50	Outlet
Foot Locker	1185732	1/26/2020	Northeast	New York	New York	Men's Athletic Footwear	50	925	462500	138750	0.30	Outlet
Foot Locker	1185732	1/30/2020	Northeast	New York	New York	Women's Apparel	50	950	475000	118750	0.25	Outlet
Foot Locker	1185732	1/31/2020	Northeast	New York	New York	Men's Street Footwear	50	1200	600000	300000	0.50	Outlet
Foot Locker	1185732	2/1/2020	Northeast	New York	New York	Men's Athletic Footwear	50	900	450000	135000	0.30	Outlet
Foot Locker	1185732	2/5/2020	Northeast	New York	New York	Women's Apparel	50	950	475000	118750	0.25	Outlet
Foot Locker	1185732	2/8/2020	Northeast	New York	New York	Women's Street Footwear	50	900	450000	157500	0.35	Outlet
Foot Locker	1185732	2/9/2020	Northeast	New York	New York	Women's Athletic Footwear	50	850	425000	148750	0.35	Outlet
Foot Locker	1185732	3/6/2020	Northeast	New York	New York	Women's Street Footwear	50	925	462500	161875	0.35	Outlet
Foot Locker	1185732	3/7/2020	Northeast	New York	New York	Women's Athletic Footwear	50	900	450000	157500	0.35	Outlet
Foot Locker	1185732	3/12/2020	Northeast	New York	New York	Women's Street Footwear	50	950	475000	166250	0.35	Outlet
Foot Locker	1185732	3/13/2020	Northeast	New York	New York	Women's Athletic Footwear	50	900	450000	157500	0.35	Outlet
Foot Locker	1185732	3/18/2020	Northeast	New York	New York	Women's Street Footwear	50	950	475000	166250	0.35	Outlet

Rapikan tampilan menggunakan **csvlook**

***Hinst***
1. Install cvskit terlebih dahulu
2. Penggunaannya: head .... | csvlook -d $'\t'

In [ ]:
# install csvkit

! apt install csvkit

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
csvkit is already the newest version (1.0.6-1).
0 upgraded, 0 newly installed, 0 to remove and 38 not upgraded.

In [ ]:
# type and run your answer here

! head ... | csvlook -d $'\t'

head: cannot open '...' for reading: No such file or directory
/usr/lib/python3/dist-packages/agate/table/from_csv.py:72: RuntimeWarning: Error sniffing CSV dialect: Could not determine delimiter
StopIteration:

### 5. Tampilkan Top 10 Sales Terbesar

**Hinst:**
1. Gunakan perintah dengan pola: **tail** .. | **sort** .. | **head**
2. Untuk mengexclude header, pada bagian tail gunakan opsi **-n +2**
3. Gunakan field **Total Sales** yang berada pada kolom ke 10
4. Untuk mengurutkan kolom ke 10 desc, gunakan tipe kolom **numerik**, sebagaimana dijelaskan pada **slide 32**

In [ ]:
# type and run your answer here

!tail -n +2 data/adidas-sales-dataset.tsv | sort -t$'\t' -k10,10nr | head

Foot Locker	1185732	1/7/2020	Northeast	New York	New York	Men's Street Footwear	50	1250	625000	312500	0.50	In-store
Foot Locker	1185732	1/25/2020	Northeast	New York	New York	Men's Street Footwear	50	1220	610000	305000	0.50	Outlet
Foot Locker	1185732	1/1/2020	Northeast	New York	New York	Men's Street Footwear	50	1200	600000	300000	0.50	In-store
Foot Locker	1185732	1/31/2020	Northeast	New York	New York	Men's Street Footwear	50	1200	600000	300000	0.50	Outlet
Foot Locker	1185732	5/5/2021	Southeast	South Carolina	Charleston	Men's Street Footwear	50	1045	522500	235125	0.45	Online
Foot Locker	1185732	1/2/2020	Northeast	New York	New York	Men's Athletic Footwear	50	1000	500000	150000	0.30	In-store
Foot Locker	1185732	1/24/2020	Northeast	New York	New York	Women's Apparel	50	1000	500000	125000	0.25	Outlet
Foot Locker	1185732	1/6/2020	Northeast	New York	New York	Women's Apparel	50	1000	500000	125000	0.25	In-store
Walmart	1197831	8/23/2020	South	Texas	Houston	Women's Apparel	50	1000	500000	250000	0.50	Outlet
Sports Direct	1197831	9/24/2021	South	Texas	Dallas	Women's Street Footwear	50	975	487500	195000	0.40	Outlet

Tampilkan hanya field City, Product, dan Total Sales

**Hinst:**
1. Gunakan kolom ke 6, 7, dan 10
2. Tambahkan perintah awk pada kode sebelumnya
3. Penggunaan awk dijelaskan pada **slide 34**

In [ ]:
# type and run your answer here
!tail -n +2 data/adidas-sales-dataset.tsv | sort -t$'\t' -k10,10nr | head | awk -F'\t' '{print $6, $7, $10}'

New York Men's Street Footwear 625000
New York Men's Street Footwear 610000
New York Men's Street Footwear 600000
New York Men's Street Footwear 600000
Charleston Men's Street Footwear 522500
New York Men's Athletic Footwear 500000
New York Women's Apparel 500000
New York Women's Apparel 500000
Houston Women's Apparel 500000
Dallas Women's Street Footwear 487500

Tampilkan hanya field City, Product, dan Total Sales.

Ubah delimiter menjadi pipe "|"

**Hinst:**
1. Gunakan opsi **OFS** pada awk, sebagaimana dijelaskan pada **slide 25**

In [ ]:
# type and run your answer here
!tail -n +2 data/adidas-sales-dataset.tsv | sort -t$'\t' -k10,10nr | head | awk -F'\t' -v OFS='|' '{print $6, $7, $10}'

New York|Men's Street Footwear|625000
New York|Men's Street Footwear|610000
New York|Men's Street Footwear|600000
New York|Men's Street Footwear|600000
Charleston|Men's Street Footwear|522500
New York|Men's Athletic Footwear|500000
New York|Women's Apparel|500000
New York|Women's Apparel|500000
Houston|Women's Apparel|500000
Dallas|Women's Street Footwear|487500

### 6. Tampilkan 10 produk dengan operating profit terkecil

Tampilkan fied **Product, Units Sold, Total Sales, dan Operating Profit**

Hinst:
1. Gunakan dan modifikasi kode sebelumnya
2. Output kolom ke 7, 9, 10,  dan 11

In [ ]:
# type and run your answer here
!tail -n +2 data/adidas-sales-dataset.tsv | sort -t$'\t' -k11,11n | head | awk -F'\t' -v OFS='|' '{print $7, $9, $10, $11}'

Men's Apparel|20|1000|410
Women's Athletic Footwear|26|1300|520
Men's Apparel|45|2250|743
Women's Athletic Footwear|38|1900|760
Men's Apparel|36|1800|810
Men's Apparel|44|2200|814
Men's Apparel|39|1950|819
Men's Apparel|64|3200|896
Men's Apparel|58|2900|928
Men's Apparel|53|2650|954

### 7. Ratailer mana saja yang menjual produk Adidas?

**Hinst:**
1. Gunakan perintah: **awk** .. | **tail** .. | **sort** | **uniq**
2. Retailer berada pada kolom ke 1
3. Gunakan tail untuk mengexclude header

In [ ]:
# type and run your answer here
!awk -F'\t' 'NR > 1 {print $1}' data/adidas-sales-dataset.tsv | sort | uniq

Amazon
Foot Locker
Kohl's
Sports Direct
Walmart
West Gear

### 8. Produk apa saja yang dijual oleh Adidas?

Hinst:
1. Produk berada pada kolom ke 7

In [ ]:
# type and run your answer here
!awk -F'\t' 'NR > 1 {print $7}' data/adidas-sales-dataset.tsv | sort | uniq

Men's Apparel
Men's Athletic Footwear
Men's Street Footwear
Women's Apparel
Women's Athletic Footwear
Women's Street Footwear